html {
	font-family: "comic sans ms";
	background-color: #A0D8F1;
	color: #0A224E;
}

body {
	text-align: center;
}
header {
	text-align: center;
	width: 100%;
	background-color: #0A224E;
	color: #E9AF32;
	padding: 5px;
}
#navbar {
	width: 100%;
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbar a {
	text-decoration: none;
	color: #E9AF32;
	display: inline;
	padding: 20px 75px;
}
#navbar p {
	display: inline;
	padding: 20px 150px;
}
#navbar a:visited {
	color: #A0D8F1;
}
#navbar a:hover {
	color: #BF381A;
	text-decoration: underline;
}
figure {
	color: #A0D8F1;
	text-align: center;
	border: 10px solid #E07628;
	background-color: #0A224E;
	padding: 15px;
	padding-top: 50px;
	margin: 15px;
}
h1, h2, h3 {
	text-align: center;
	text-decoration: underline;
}
img {
		border: 10px solid #BF381A;
}
#achievements img, #aspirations img {
	width: 80%;
}
figcaption {
	font-style: italic;
}
#achievements {
	display: inline;
	float: left;
	width: 40%;
	text-align: center;
	padding-right: 50px;
	padding-top: 40px;
	padding-left: 35px;
	border: 10px solid #0A224E;
}
#aspirations {
	display: inline;
	float: right;
	width: 40%;
	text-align: center;
	padding-left: 35px;
	padding-top: 20px;
	padding-right: 50px;
	border: 10px solid #0A224E;
	margin-bottom: 10px;
}
ul {
	list-style-type: none;
	padding-bottom: 20px;
}
#navbarfoot {
	width: 100%;
	text-decoration: none;
	color: #E9AF32;
	display: inline-block;
	padding: 10px 75px 10px 75px;
	background-color: #0A224E;
	border: 3px solid #E07628;
}




