html {
	font-family: "comic sans ms";
	background-color: #A0D8F1;
	color: #0A224E;
}
header {
	text-align: center;
	width: 100%;
	background-color: #0A224E;
	color: #E9AF32;
	padding: 5px;
}
#navbar {
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbar a {
	text-decoration: none;
	color: #E9AF32;
	display: inline;
	padding: 20px 75px;
}
#navbar p {
	display: inline;
	padding: 20px 150px;
}
#navbar a:visited {
	color: #A0D8F1;
}
#navbar a:hover {
	color: #BF381A;
	text-decoration: underline;
}
h1, h2, h3{
	text-decoration: underline;
	text-align: center;
}
img {
	width: 100%;
	border: 10px solid #BF381A;
}
#imageGallery2 {
	width: 40%;
	float: right;
	display: inline-block;	
	margin: 20px;
	padding: 35px;
	margin-top: 5px;

}
#imageGallery {
	width: 40%;
	display: inline-block;
	padding: 35px;
	margin: 10px;
	margin-top: 5px;
}
.img1, .img2, .img3, .img4, .img5 {
	text-align: center;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	margin-top: 15px;
	padding: 5px;

}
.img6, .img7, .img8, .img9, .img10 {
	text-align: center;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	padding-top: 5px;
	padding: 5px;
	margin-top: 20px;

}
ol {
	list-style: none;
}
li {
	text-align: center;
	padding-top: 50px;
}
#navbarfoot {
	width: 100%;
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbarfoot a {
	float: right;
	font-weight: 400;
	padding-right: 300px;
	padding-bottom: 15px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	color: #E9AF32;	
}
#navbarfoot a:visited {
	color: #A0D8F1;
}
#navbarfoot a:hover {
	color: #BF381A;
	text-decoration: underline;
footer a:visited {
	color: #E9AF32;
}
footer a:hover {
	color: #BF381A;
	text-decoration: underline;
}

