html {
	font-family: "comic sans ms";
	background-color: #A0D8F1;
	color: #0A224E;
}
header {
	text-align: center;
	width: 100%;
	background-color: #0A224E;
	color: #E9AF32;
	padding: 5px;
}
#navbar {
	width: 100%;
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbar a {
	text-decoration: none;
	color: #E9AF32;
	display: inline;
	padding: 20px 75px;
}
#navbar p {
	display: inline;
	padding: 20px 150px;
}
#navbar a:visited {
	color: #A0D8F1;
}
#navbar a:hover {
	color: #BF381A;
	text-decoration: underline;
}
hr {
	width: 100%;	
}
h1, h2, h3 {
	text-align:center;
	text-decoration: underline;
}
#container p {
	text-indent: 20px;
	padding: 10px;
	margin: 10px;
}
img {
	border: 10px solid #BF381A;
}
#paraimg1 {
	width: 100%;
	display: inline;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}
#para1 {
	display: inline;
	width: 40%;
	float: left;
	text-align: center;
}
img {
	border: 10px solid #BF381A;
}
figure {
	width: 40%;
	border: 5px solid #E07628;
	background-color: #0A224E;
	width: 40%;
	text-align: center;
	padding: 5px;
	color: #A0D8F1;
	padding-top: 40px;
}
#toddler {
	display: inline-block;
	float: right;
	width: 40%
}
#paraimg2 {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#para2 {
	display: inline-block;
	width: 40%;
	float: right;
	text-align: center;
}
#preschool {
	display: inline-block;
	float: left;
	width: 40%
}
#paraimg3 {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#para3 {
	display: inline-block;
	width: 40%;
	float: left;
}
#pic3 {
	display: inline-block;
	float: right;
	width: 40%	
}
#navbarfoot {
	width: 100%;
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbarfoot a {
	float: right;
	font-weight: 400;
	padding-right: 300px;
	padding-bottom: 15px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	color: #E9AF32;	
}
#navbarfoot a:visited {
	color: #A0D8F1;
}
#navbarfoot a:hover {
	color: #BF381A;
	text-decoration: underline;
footer a:visited {
	color: #E9AF32;
}
footer a:hover {
	color: #BF381A;
	text-decoration: underline;
}

