html {
	font-family: "comic sans ms";
	background-color: #A0D8F1;
	color: #0A224E;
}
body {
	text-align: center;
}
header {
	text-align: center;
	width: 100%;
	background-color: #0A224E;
	color: #E9AF32;
	padding: 5px;
}
#navbar {
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbar a {
	text-decoration: none;
	color: #E9AF32;
	display: inline;
	padding: 20px 75px;
}
#navbar p {
	display: inline;
	padding: 20px 150px;
}
#navbar a:visited {
	color: #A0D8F1;
}
#navbar a:hover {
	color: #BF381A;
	text-decoration: underline;
}
#container {
	background-color: #A0D8F1;
}
h1, h2, h3 {
	text-align: center;
	text-decoration: underline;
}
img {
	border: 10px solid #BF381A;
}
ul {
	list-style: none;
}
#pic1, #pic2 {
	display: inline;
	width: 40%;
	text-align: center;
	padding: 5px;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	padding-top: 40px;
}
#pic1 {
	float: left;
}
#pic2 {
	float: right;
}
#pic3, #pic4 {
	display: inline;
	width: 40%;
	text-align: center;
	padding: 5px;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	padding-top: 40px;
}
#pic3 {
	float: left;
}
#pic4 {
	float: right;
}
#pic5, #pic6 {
	display: inline;
	width: 40%;
	text-align: center;
	padding: 5px;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	padding-top: 40px;
}
#pic5 {
	float: left;
}
#pic6 {
	float: right;
}
#pic7, #pic8 {
	display: inline;
	width: 40%;
	text-align: center;
	padding: 5px;
	border: 5px solid #E07628;
	background-color: #0A224E;
	color: #A0D8F1;
	padding-top: 40px;
}
#pic7 {
	float: left;
}
#pic8 {
	float: right;
}
#movies {
  width:40%;
  float: left;
}
#back {
  width: 40%;
  float: right;
}
#navbarfoot {
	width: 100%;
	overflow: hidden;
	background-color: #0A224E;
	border: 3px solid #E07628;
}
#navbarfoot a {
	text-decoration: none;
	color: #E9AF32;
	display: inline-block;
	padding: 15px 150px 0px 50px;
}
#back {
	font-style: italic;
}
#navbarfoot a:visited {
	color: #A0D8F1;
}
#navbarfoot a:hover {
	color: #BF381A;
	text-decoration: underline;